@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #0f172a;
}

h1, h2, h3 {
  @apply font-semibold tracking-tight text-white;
}

input, select, textarea {
  @apply focus:outline-none focus:ring-2 focus:ring-indigo-500;
}

button {
  @apply transition duration-200;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.4);
  border-radius: 10px;
}
